extends layout

block main
    div(class="main")
        h1 Om kursen Ramverk2
        p I denna kursen jobbar vi med ramverk i javascript.
        p Vi kommer också jobba med Docker, Tester, Realtid, Databaser och skapa en egen modul. Kul!

        p Länk till Github!!!!

        div(class="about-img")
            <figure>
                <img id="javascript" src="/images/javascript.PNG" alt="Code">
                <figcaption>Kan ju funka..</figcaption>
            </figure>
