extends layout

block main
    div(class="main")
        h1 Databas MongoDB
        p Här kan du utföra operationer mot databasen.


        div(class="about-img")
            <figure>
                <img id="javascript" src="/images/javascript.PNG" alt="Code">
                <figcaption>Kan ju funka..</figcaption>
            </figure>
