extends layout

block main
    div(class="main")
        h1 Martins Me-sida för Ramverk2

        p Martin Fagerlund, studerande på programmet webbprogrammering vid BTH, Blekinge Tekniska Högskola. Jag läser nu mitt andra år, och det känns som att tiden bara flyger iväg. Det är jättekul! Man lär sig en massa också, vilket ju liksom är meningen med det hela.
        p Jag bor i Örebro, men är uppväxt i Tranås i norra Småland. På fritiden springer jag orientering, jagar turfzoner och letar anor.
        p Superkraft: jag kan vifta på näsborrarna!

        div(class="martin-img")
            <figure>
                <img id="tranas" src="/images/tranas.PNG" alt="Martin i Tranås">
                <figcaption>Ett annat Tranås..</figcaption>
            </figure>
