extends layout

block main
    div(class="main")
        h1 Spela Nim

        p
            | Här kommer vi framöver förhoppningsvis kunna spela Nim. Spelet
            | där man turas om att ta tändstickor ur högar. Den som tar sista
            | stickan förlorar.
        // - p
        // -     | Här spelar vi Nim. Starta ett spel eller gå med i ett spel.
        // -     | Ni måsta vara två spelare. Så här går det till.
        // - p
        // -     | När det är din tur tar du valfritt antal tändstickor ur EN hög.
        // -     | Klicka på "byt spelare", och
        // -     | därefter blir det nästa spelares tur. Den som tar sista stickan
        // -     | förlorar.

        // - P <a href="/playnim">Starta nytt spel</a>
