extends layout

block main
    div(class="main")
        h1 Rapporter
        p Här hittar du rapporterna från de olika kursmomenten.

        h2 Kmom01

        h3 Berätta utförligt om din syn på Express och Pug och hur de samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de fördelar och eventuellt nackdelar du finner, eller bara notera skillnader och likheter.

        p
            | Express känns som ett ganska litet ramverk, men med möjligheter att
            | lägga till funktionalitet allt eftersom. Pug (och express) är nytt för
            | mig, men det känns ändå lite bekant från webapp-kursen då vi jobbade med
            | liknande verktyg. Dessa samverkar lite på samma sätt som php-ramverket i
            | ramverk1-kursen, t.ex. med att kunna skicka in variabler in i vyerna. Det känns
            | användbart. Hur man skriver sin kod i pug tilltalar mig dock inte. Det är främst en
            | känsla jag har, och säkert beror det till stor del på att jag är helt ny på
            | syntaxen, och att jag inte vet ännu hur det mesta fungerar. Jag ser iaf fram emot
            | att lära mig. Sen så har jag funderat lite på vad som skiljer ett js ramverk mot
            | ett php ramverk. Jag kan inte se skillnader, fördelar, nackdelar själv, och det
            | var minsann inte lätt att söka sig till ett vettigt svar heller. Det beror
            | nog till stor del på vad det är för något man bygger, och vilka krav sitt
            | bygge har.

        h3 Använde du någon form av scaffolding som Express erbjuder?

        p
            | Javisst! Det kändes som vettigt att göra det. Jag använde mig av
            | express generator. Tycker det fungerade bra.

        h3 Berätta om din katalogstruktur och hur du organiserade din kod, hur tänkte du?

        p
            | Jag fick ju såklart grunden från scaffoldingen med express generator.
            | Mina routes samlade jag i index.js, och mina vyer i mappen views. Jag jobbade med
            | en layout-vy som mina andra vyer sen printas i, precis som i övningsartikeln.
            | Bilderna hamnade i public/images. Förmodligen så enkelt man kan få det.

        h3 Jobbar du med Markdown för innehållet, eller annat liknande?

        p
            | Nej, det gör jag inte. Det kanske skulle förenkla pug och dess syntax som
            | jag inte gillar. Men jag är ju tyvärr (vågar jag skriva detta?) inget
            | stort fan av Markdown heller. Men ofta så är det ju bra att tvinga sig själv
            | att göra saker man egentligen inte vill, eller kanske att tvinga sig utanför
            | komfort-zonen. Det är ju så man utvecklas. Tror nog jag kan komma att gilla
            | pug bättre än markdown. Vi får se!

        p
            | Kan även nämna att jag hade problem med att stoppa servern när man skulle
            | starta om den. Gick åt en del google-felsökning, där jag fann samma lösning
            | som det tipsades om i forumet. Att sen starta om i en .bat-fil var trevligt.
            | Även make test krånglade lite för mig, och <code>npm version 1.0.0</code>
            | fick jag inte att fungera alls. Jag får felsöka vidare på det.

        br



        h2 Kmom02

        h3 Har du jobbat med Docker eller andra virtualiseringstekniker innan?

        p
            | Just Docker är nytt för mig. Jag har jobbat med Oracle VM VirtualBox i
            | linux-kursen, men det är nog allt, i alla fall som jag kan minnas nu.
            | Eller ja, i ramverk1 använde vi ju oss av travis, scrutinizer osv.
            | De tjänsterna kan väl iofs räknas som virtualiseringstekniker. Dom
            | testar ju vår kod i en viss miljö, med de dependencies som vi anger.

        h3 Hur ser du på möjligheterna att använda dig av Docker för att jobba med tester av ditt repo?

        p
            | Det känns helt klart som en vettig möjlighet. Jag tänker mig rent allmänt
            | en situation där man har en app på en server med en version av t.ex. Node
            | som är utgående, och man vill uppdatera versionen på Node. Då testar man sin
            | app i Docker först för att se att allt fungerar. Eller som test innan man
            | uppdaterar sin app. Det finns säkert en massa fler möjligheter som jag inte
            | har koll på.

        h3 Gick allt smidigt eller stötte du på problem?

        p
            | Jodå, problem fick jag allt. Jag sitter på Windows 10 Home, så jag gjorde så
            | att jag installerade Docker Toolbox. För att få det att fungera så fick jag
            | gå in i BIOS (eller motsvarande) och aktivera virtualisering. Sen fick jag
            | problem med ip-nummer. Det gick ju inte alls att köra på localhost, utan jag
            | fick titta i programmet Kitematic som följde med Toolbox. Ip-adressen hittade
            | jag senare även när jag startade Toolbox. Så långt allt bra. Nästa problem
            | var att Docker inte kom åt mitt filsystem utanför C:\Users\MinUser. Docker
            | accepterar heller inte administratörsrättigheter utan lösenord (jag kör utan
            | lösenord på datorn) så jag trixade med att skapa en ny admin-användare på datorn,
            | för att kunna ge Docker tillgång till C:.
            | Det gick dock inte. Så jag hade en fungerande Docker, men som bara gick att köra på
            | kod under min användare. I ren frustration bestämde jag mig för att börja om och
            | uppgradera Windows till Education, och ominstallera Docker. Därefter krånglade det inget alls!

        h3 Skapade du din egen image, berätta om den?

        p
            | Nej. Jag hoppar över det. Jag tycker jag har lagt tillräckligt med tid
            | på detta kursmomentet, med allt krångel ovan. Däremot så la jag me-sidan på
            | ett gratis webbhotell som det tipsades om i chatten. Det gick ganska så enkelt.
            | Fick bara trixa lite med en PORT-variabel. 
